
html{ 
    scroll-behavior: smooth;
}

#homet { 
    font-family: 'Zen Kurenaido', serif;
}
/* skip to main */
a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -100px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

/* navigation bar */
nav{ 
    background: #d2d6d0;
    color:rgb(55, 58, 55);
    height: 100%;
    border-bottom: 2px solid rgb(156, 160, 156);
    border-right: 1px solid rgb(156, 160, 156); 
    border-left: 1px solid rgb(156, 160, 156);
    border-radius: 1rem;
}

#links{ 
    display: flex;
    margin: 0;
    padding: 2%;
    overflow: hidden;
    flex-flow: row wrap;
    justify-content: center;
}

#links a{ 
    text-align: center;
    font-family: 'Zen Kurenaido', serif;
    font-size: 20px;
    padding: 16px 8px;
    text-decoration: none;
}

#links a, #links a:link, #links a:visited, #links a:hover, #links a:focus, #links a:active{
    color:rgb(24, 61, 15);
}

#links a:hover{
    font-weight: bold;
}

#links a.focus{ 
    border: 2px dashed rgb(67, 71, 66);
}

#homet{ 
    font-size: 2rem;
    font-family: 'Zen Kurenaido', serif;
    color:rgb(67, 71, 66);
    text-align: center;
    text-decoration: underline;
}

body{ 
    background: rgb(231, 235, 228);
    font-family: 'Zen Kurenaido', serif;
    font-size: 20px;
}

body p{ 
    background:rgb(207, 209, 204);
    color:rgb(55, 58, 55);
    margin: 5px;
    margin-bottom: 10%;
}

#current{ 
    font-weight: bolder;
}

#current:after {
    content: "}"
  }
  
#current:before {
    content: "{"
  }

/* home page text box */
#selection{ 
    background: rgb(231, 235, 228);
    font-size: 1.5rem;
    padding: 5%;
    margin-top: 10%;
    margin-bottom: 7%;
    text-align: center;
    font-weight: bolder;
    color:rgb(67, 71, 66);
    border: 2px dashed #65837B;
}

/* teacup images */

.homecups{
    display: flex;
    margin-bottom: 7%; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homecups img { 
    height: 200px;
    width: 200px;
    max-width: 100%;
    display:block;
    margin:auto;
}

.homecups > p { 
    font-size: 1.2rem;
    overflow-wrap:normal;
}

/* Types of Tea page */
.nine {
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    justify-content: center;
  }

.flipper-card {
  max-width: 100%;;
  height: 260px;
  perspective: 800px;
  }

.flipper-body{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}  

.flipper-card:active .flipper-body{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}  

  .flipper-front,
  .flipper-back {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  }
  
  .flipper-back {
    position: relative;
    font-size: 2.2rem;
    bottom: 175px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }


#info{ 
    background: none;
    border: 2px dashed #65837B;
    margin: 5%;
    text-align: center;
}

/* trivia page */


#paral > p{ 
    background:none;
    text-align: center;
    font-size: 1.2rem;
    margin: 5%;
    border: 2px dashed #65837B;
}

#paral > h1{ 
    font-size: 1.6rem;
    font-family: 'Zen Kurenaido', serif;
    color: rgb(67, 71, 66);
    text-align: center;
    text-decoration: underline;
}

.quiz{ 
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, 1fr);
    background: #cad4d1; 
    margin-bottom: 10%;
    margin-top: 10%;
    border: 2px dashed #65837B;
}

.quiz img{ 
    position: relative;
    text-align: center;
    height: 150px;
}

.question{ 
    text-align: center;
    font-weight: bold;
    margin-top: 10%;
    top: 50%;
    left: 50%;
}

.ans > p{ 
    visibility: hidden;
    font-size: 1.2rem;
    background: none;
    height: 100%;
    width: 100%;
    justify-content:baseline;
    text-align: center;
    padding: 2%;
    padding-top: 5%;
}

@keyframes animate {
    0% {
        font-size: 0%;
    }
    30% {
        font-size: 75%;
    }
    80% {
        font-size: 100%;
    }
}

button{
  background-color: #1a441b; 
  border: none;
  color: white;
  top: 100px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin-left: 25%;
  margin-top: 12%;
  font-size: 14px;
}



/* resources page */

#seller{ 
    color:rgb(55, 58, 55);
    text-align: center;
    font-size: 26px;
    margin: 10%;
    border: 2px dashed #65837B;
}

#l1::before {
    content: "\1F375";
  }
#l2::before {
    content: "\1F375";
  }
#l3::before {
    content: "\1F375";
  }
#l4::before {
    content: "\1F375";
  }
#l5::before {
    content: "\1F375";
  }

  #l1, #l2, #l3, #l4, #l5{ 
    color:rgb(39, 117, 19);
  }
  
.Sellers li{ 
    text-align: left;
    margin: 0%;
    padding: 0%;
    color: rgb(67, 71, 66);
    font-size: 110%;
    font-weight: 100;
}

.Sellers a:visited{ 
    color:rgb(39, 117, 19);
}

#field{ 
    width: 100%;
    height: 15rem;
    border-radius:1rem;
}

/* form */
.contact {
    border-radius: 3px;
    background-color: rgb(207, 209, 204);
    padding: 5px;
    margin-bottom: 25%;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 2%;  
    border: 1px solid rgb(67, 71, 66); 
    border-radius: 4px; 
    box-sizing: border-box;
    margin: 10px auto;
    resize: vertical;
}

input[type=submit] {
    background-color: #3E564F;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
  input[type=submit]:hover {
    background-color: #2f3d39;
    text-decoration: underline;
}

/* same footer all pages */
footer{ 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.1rem;
}

footer p{ 
    background: rgb(67, 71, 66);
    color: white;
    text-align: center; 
    width: 100%;
}

/* tablet */
@media screen and (min-width: 750px){
    nav{ 
        width: 100%;
        overflow: auto;
    }

    nav > img{ 
        width: 100%;
    }
    
    #links a{ 
        font-size: 36px;
        width: 25%;
        margin-right: 10px;
        margin-left: 10px;
    }

    h1, #homet, #seller, #paral > h1{ 
        font-size: 3rem;
    }

    body{ 
        font-size: 32px;
    }

    #selection{ 
        font-size: 2.25rem;
    }

    .homecups{
        flex-flow: row wrap;
        flex-grow: 1;
    }

    .homecups p{ 
        font-size: 2rem;
        text-align: center;
    }
    
    .homecups img { 
        height: 300px;
        width: 300px;
        flex-grow:0;
        flex-shrink:0;
    }

    #cup1, #cup2, #cup3 {
        max-width: 350px;
    }

    .nine {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
      }
    
    .flipper-card {
        height: 300px;
    }

    #info{ 
        font-size: 32px;
    }

    .quiz img{ 
        height: 250px;
    }

    button{
        margin-left: 33%;
        margin-top: 15%;
        font-size: 28px;
    }

    .ans > p{ 
        font-size: 2.5rem;
    } 

    #paral > p{ 
        font-size: 2rem;
    }

    #seller{ 
        margin: 5%;
    }

    .Sellers li {
        font-size: 90%;
    } 

    #field{ 
        height: 25rem;
    }
    
    footer{ 
        height: 2.8rem;
    }

}



/* desktop */
@media screen and (min-width: 1025px){

    nav > img{ 
        width: 40%;
        left: 50%;
    }

    .nine {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        justify-content: center;
        margin-bottom: 20%;
      }

    .nine > img{ 
        height: 1rem;
        max-width: 100%;
    }

    
    .homecups img:hover{
    border: 2px solid #2f3d39;;
    }

}

@media screen and (prefers-reduced-motion: reduce){
    /*Turn off scroll*/
    html{
        scroll-behavior: auto; 
    }
  
    /*Turn off transition*/
    .skip a{
      -webkit-transition: initial; 
      transition: initial; 
    }
  }
